.mt-1, .m-1, .mb-1 {
    margin-top: 0.25rem;
}

.mt-2, .m-2, .mb-2 {
    margin-top: 0.50rem;
}

.mt-3, .m-3, .mb-3 {
    margin-top: 0.75rem;
}

.mt-4, .m-4, .mb-4 {
    margin-top: 1rem;
}

.mt-5, .m-5, .mb-5 {
    margin-top: 1.25rem;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #f3f3f3
}

.text-black {
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin-top:0;
    margin-bottom:.5rem
}

p {
    margin-top:0;
    margin-bottom:1rem
}

.border-none {
    border: none;
}
